<!DOCTYPE html>
<title>HbbTV Proxy Settings</title>

<form action="/settings" method="post">
    <h1>Autoload HbbTV App</h1>
    <label>URL of HbbTV app to autoload:</label><br>
    <input type="text" name="autoload" value="<%= data.autoload %>" style="width: 300px"><br>
    <br>
    <label>Don't autoload if URL contains the following words (comma separated):</label><br>
    <input type="text" name="whitelist" value="<%= data.whitelist %>" style="width: 300px"><br>
    <br>
    <input type="submit" value="Save">
</form>
