<!DOCTYPE html>

<title>HbbTV Proxy Settings</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="position:relative;">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand" href="#">HbbTV Proxy Settings</span>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/settings" method="post">
                <h2 class="lead">Auto Redirect to HbbTV Application</h2>
                <div class="form-group">
                    <label for="host">URL of HbbTV app to autoload:</label>
                    <input type="text" class="form-control" name="autoload" placeholder="http://hbbtv.zdf.de/zdfstart/index.php" value="<%= data.autoload %>" required>
                </div>
                <div class="form-group">
                    <label for="host">Don't autoload if URL contains the following words (comma separated):</label>
                    <input type="text" class="form-control" name="whitelist" placeholder="zdf" value="<%= data.whitelist %>" required>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-md-9">
                <img src="https://www.fokus.fraunhofer.de/assets/logo-860812875da0f0aa4d5ea48e795aac93b09affdb637eae121b367da604de8737.png" alt="Fraunhofer Fokus">
            </div>
            <div class="col-md-3" style="text-align: right">
                <p>Copyright &copy; Fraunhofer Fokus</p>
            </div>
        </div>
    </footer>
</div>
